body {
    width: 1200px;
    height: 750px;
    font-family: "Montserrat", serif;
    color: #333;
    line-height: 1.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    font-family: "Sour Gummy", serif;
    font-size: larger;
    align-self: center ;
}

header, footer {
    background-color: #101D42;
    text-align: center;
    display: grid;
    place-content: center;
    color: #fff;
}

main {
    background-color: #101D42;
    position: relative;
    width: 100%;
    height: 100%;
}

h2{
    font-family: "Sour Gummy", serif;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    width: auto;
    height: 50%;
    margin: 30px 70px;
}

form {
    padding-left:  30px 10px;
}

input[type="text"]:focus {
    border: 1px solid #D6D9DC;
    outline: dashed gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form input, form label {
    display: block;
}

form input {
    margin-bottom: 1em;
}

span {
    font-weight: bold;
}

/* Provided to make smooth scroll work */
html {
    scroll-behavior: smooth;
}

/* Move the z-index declaration to each of the
different sections below to put that section on
top so you can design it. */

#introduction { background-color: #101D42; z-index: 1;}
#theForm { background-color: #101D42; z-index: 0;}
#results { background-color: #101D42; z-index: -1;}

#introduction, #theForm, #results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#introduction {
    flex-direction: column;
    text-align: center;
    color: #fff;
   
}

#introButton {
    all: unset;
    background-color: #232ED1;
    color: #fff;
    outline: none;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}

#theForm {
    display: flex;
    gap: 100px;
    justify-content: center;
}
#theForm h2, label {
    color: #fff;
}
#theForm label, form {
    background-color: #FFD2FC;
    color: #101D42;
    border-radius: 20px;
    width: 500px;
}
form {
    padding: 20px;
    margin-bottom: 10px;
}
#results {
    display: flex;
    justify-content: space-around;
}
#results p {
    color: #fff;
}
#results h2 {
    font-family: "Sour Gummy", serif;
    color: #fff;
    padding: 30px;
    width: auto;
}
#results p.madlib {
    background-color: #FFD2FC;
    color: #101D42;
    padding: 25px;
    border-radius: 20px;
    display: block;
    max-width: 65%;
    height: 80%;
    align-self: center;
    margin-top: 50px;
}

#resultsWbutton {
    display: flex;
    flex-direction: column;
}
#wishAgain {
    all: unset;
    margin: 20px;
    display: inline-block;
    width: fit-content;
    align-self:center;
    padding: 30px;
    background-color: #232ED1;
    color: #fff;
    outline: none;
    border-radius: 10px;
}




